.speech{
    font-style:normal 5px ;
    font-family: 'Times New Roman';
    color: black;
}
.direction{
    font-size: small;
    font-family:Arial 3px;
    color: black;
    background-color:rgb(234, 233, 228);
}
.direction:hover{
    background-color:rgb(204, 153, 153);
    color: brown;
}
.MARINA{
    color: darkblue;
}
.ASTROFF{
    color: chartreuse;
}
table,th,td{
    border:3px solid black;
    border-collapse: collapse;
    background-color: rgb(243, 238, 232);
    color: rgb(26, 35, 35);
    text-align: center;
    row-gap: 18px;
    padding: 2px;
    margin: 2px;
}
