
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.speech{
    font-style:normal 5px ;
    font-family: 'Times New Roman';
    color: black;
}
.direction{
    font-size: small;
    font-family:Arial 3px;
    color: black;
    background-color:rgb(234, 233, 228);
}
.direction:hover{
    background-color:rgb(204, 153, 153);
    color: brown;
}
.MARINA{
    color: darkblue;
}
.ASTROFF{
    color: chartreuse;
}
.VOITSKI{
    color: darkgreen
}
table,th,td{
    border:3px solid black;
    border-collapse: collapse;
    background-color: rgb(243, 238, 232);
    color: rgb(26, 35, 35);
    text-align: center;
    row-gap: 18px;
    padding: 2px;
    margin: 2px;
}
.MARINA:hover{
    text-shadow: 1px 1px 4px rgb(220, 175, 175);
}
.ASTROFF:hover{
    text-shadow: 1px 1px 4px rgb(137, 203, 191) ;
}
.VOITSKI:hover{
    text-shadow: 1px 1px 4px red;
}
.navbar{
    background-color: antiquewhite;
    color: beige;
    text-align:justify;
    padding: 8px;
    height: 150px;
    width: 100px;
    display: contents;
    justify-content: space-around;
}
.navbar:hover{
    color: chartreuse;
}
.image{
    height: 275px;
    width: 165px;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:beige;
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:blue;
    color:white;
  }


